:root {
    --primary-color: #3A0B2D;
    --secundary-color: #4A243B;
}

body {
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
    padding: 0px;
    font-family: none;
    display: flex;
}

.pesquisar {
    background-color: #432544;
    height: 116px;
    width: 1521px;
    border-radius: 3cap;
    padding: 20px;
    gap: 20px;
    display: flex;
}

.iconpesquisar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 220px;
    padding: 30px;
}

.barra {
    background-color: #5B3954;
    height: 75px;
    width: 850px;
    border-radius: 3cap;
    display: flex;
}

.sino {
    background-color: #543855;
    height: 80px;
    width: 80px;
    border-radius: 30cap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil {
    background-color: #543855;
    height: 80px;
    width: 400px;
    border-radius: 3cap;
    display: flex;
    align-items: center;
    padding: 20px;
}

.subnome {
    color: #FFFFFF48;
    font-size: 20px;
}

.nome {
    font-size: 25px;
    color: white;
    justify-content: center;
}

.textoperfil {
    padding: 80px;
}

.iconperfil {
    border-radius: 3cap;
}

.engrenagem {
    background-color: #543855;
    height: 80px;
    width: 80px;
    border-radius: 30cap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.engrenagem img {
    height: 50px;
    width: 50px;
}

.pesquisarNome {
    line-height: 75px;
    font-size: 30px;
    color: #FFFFFF48;
    justify-content: center;
}

.ladingpage {
    height: 780px;
    width: 1550px;
}

.esquerda {
    background-color: #4A243B;
    height: 1014px;
    width: 300px;
    border-radius: 3cap;
    margin-right: 40px;
}

.dash {
    background-color: #4A152E;
    margin-top: 10px;
    border-radius: 3cap;
    height: 80px;
    width: 290px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 4px;
}

.mydash {
    font-size: 30px;
    color: white;
}

.icon {
    padding-right: 10px;
}

.nomes p {
    color: white;
    margin: 38px;
    display: flex;
    align-items: center;
}

.online p {
    color: rgba(211, 211, 211, 0.493);
    font-size: 25px;
}

.dashbaixo {
    background-color: #4a152e;
    border-radius: 3cap;
    height: 80px;
    width: 290px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 4px;
}

.mydashbaixo {
    font-size: 30px;
    color: white;
}

.container {
    margin-top: 10px;
    display: flex;
}

.homemaranha {
    align-items: center;
    border-radius: 3cap;
    height: 609px;
    width: 902px;
    background: url(./img/div_main/Homem\ aranha\ 1.png);
}

.raio {
    height: 71.4px;
    width: 241px;
    margin: 3%;
    background-color: #82708e70;
    border-radius: 3cap;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

.raio img {
    background-color: #ffcd45b7;
    border-radius: 3cap;
}

.raio p {
    font-size: 30px;
    color: white;
}

.titulo {
    text-align: start;
    font-size: 40px;
    color: white;
    justify-content: flex-start;
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
}

.subtitulo {
    font-size: 25px;
    color: white;
    text-align: start;
    justify-content: start;
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
}

.book {
    background-color: #ff000059;
    height: 82.61px;
    width: 274.61px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 3cap;
    margin-left: 40px;
    margin-top: 20px;
}

.book p {
    font-size: 30px;
    color: white;
}

.setas {
    height: 60px;
    width: 60px;
    margin-top: 70px;
    margin-left: 40px;
    display: flex;
    gap: 150px;
}

.carregando {
    height: 60px;
    width: 60px;
    margin-left: 280px;
    gap: 20px;
    align-items: center;
    display: flex;
    font-size: 30px;
    color: white;
}

.libary {
    background-color: #3D0B25;
    height: 550px;
    width: 550px;
    border-radius: 5cap;
    margin-left: 60px;
    border: 8px solid #461C3B;
    border-bottom-color: 2px solid #ccc;

}

.titulolibary p {
    color: white;
    font-size: 40px;
    margin-top: 10px;

}

.libary p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulococ {
    margin-bottom: 10px;
    display: flex;
}

.setavermelha {
    margin-left: 150px;
}

.setacinzanfs {
    margin-left: 205px;
}

.setacinzagot {
    margin-left: 186px;
}

.setacinzaover {
    margin-left: 208px;
}

.imglibary {
    height: 75px;
    width: 75px;
}

.descricaococ {
    display: flex;
    align-items: center;
    gap: 10px;
}

.descricaococ0 {
    font-size: 20px;
    height: 32px;
    width: 97px;
    background-color: #52254A;
    border-radius: 10cap;
}

.descricaococ1 {
    font-size: 20px;
    height: 32px;
    width: 136px;
    background-color: #52254A;
    border-radius: 10cap;
}

.coc {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    gap: 15px;
}

.nfs {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    gap: 15px;
}

.titulonfs {
    margin-bottom: 10px;
    display: flex;
}

.descricaonfs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.descricaonfs0 {
    font-size: 20px;
    height: 33px;
    width: 75px;
    background-color: #52254A;
    border-radius: 10cap;
}

.descricaonfs1 {
    font-size: 20px;
    height: 33px;
    width: 52px;
    background-color: #52254A;
    border-radius: 10cap;
}

.got {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    gap: 15px;
}

.titulogot {
    margin-bottom: 10px;
    display: flex;
}

.descricaogot {
    display: flex;
    align-items: center;
    gap: 10px;
}

.descricaogot0 {
    font-size: 20px;
    height: 33px;
    width: 92px;
    background-color: #52254A;
    border-radius: 10cap;
    text-align: center;
}

.descricaogot1 {
    font-size: 20px;
    height: 33px;
    width: 120px;
    background-color: #52254A;
    border-radius: 10cap;
    text-align: center;
}

.over {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.tituloover {
    margin-bottom: 10px;
    display: flex;
    margin-left: 15px;
}

.descricaoover {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}

.descricaoover0 {
    font-size: 20px;
    height: 33px;
    width: 97px;
    background-color: #52254A;
    border-radius: 10cap;
    text-align: center;
}

.descricaoover1 {
    font-size: 20px;
    height: 33px;
    width: 89px;
    background-color: #52254A;
    border-radius: 10cap;
    text-align: center;
}

.line {
    margin-top: 15px;
}

.setasabaixodalibary {
    height: 100px;
    width: 200px;
    margin-left: 100px;
    transform: translate(1350px, -106px);
}

.setabaixovermelha {
    margin-left: 100px;
    transform: translate(1200px, -50px);
}

.imagens {
    display: flex;
    gap: 40px;
}

.iconimg {
    margin: 10px;

}

.apex {
    height: 230px;
    width: 350px;
    background: url(./img/div_main/sddefault\ 1.png);
    border-radius: 3cap;
}

.apex p {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 100px;
}

.players {
    height: 45px;
    width: 205px;
    margin: 3%;
    background-color: #303A4946;
    border-radius: 3cap;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: white;
}

.overwatch {
    height: 230px;
    width: 350px;
    background: url(./img/div_main/download\ 1.png);
    border-radius: 3cap;
}

.overwatch p {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 100px;
}

.marvel {
    height: 230px;
    width: 350px;
    background: url(./img/div_main/thumb-350-1386761\ 1.png);
    border-radius: 3cap;
}

.marvel p {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 100px;
}

.streetfighter {
    height: 230px;
    width: 350px;
    background: url(./img/div_main/ryu-street-fighter-4s-1280x2120\ 1.png);
    border-radius: 3cap;
}

.streetfighter p {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 100px;
}

footer {
    display: flex;
    background-color: #4A152E;
    color: white;
    margin-top: 40px;
    border-radius: 1cap;
    height: 69px;
    width: 768px;
}

.imgfooter {
    display: flex;
    margin-left: 10px;
    gap: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.imgfooter img {
    background-color: #54375B;
    border-radius: 1cap;
    height: 30px;
    width: 30px;
}

.logout {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    gap: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
 
    background-color: #3C1123;
    width: 200px;
    border-radius: 3cap;
}

.pequenasimagens{
    gap: 10px;
    display: flex;
}

.caixa, .amigos, .cartao{
    background-color: #54375B;
    height: 50px;
    margin-top: 7px;
    border-radius: 3cap;
    justify-content: center;
    align-items: center;
    display: flex;
}

.caixa img, .amigos img, .cartao img{
    height: 50px;
    width: 50px;
    border-radius: 3cap;

    display: flex;
}

@media screen and (min-width: 769px) {
    footer {
        display: none;
    }
}

@media (max-width: 768px) {

    .ladingpage {
        width: 768px;
        height: 730px;
    }

    .nfs,
    .got,
    .over,
    .line,
    .esquerda,
    .overwatch,
    .marvel,
    .setabaixovermelha,
    .setasabaixodalibary,
    .textoperfil,
    .setavermelha {
        display: none;
    }

    .pesquisar {
        width: 768px;
        height: 100px;
    }

    .barra {
        width: 336px;
        height: 62px;
    }

    .engrenagem {
        width: 68px;
        height: 68px;
    }

    .sino {
        width: 68px;
        height: 68px;
    }

    .perfil {
        width: 120px;
        height: 68px;
    }

    .iconperfil {
        width: 45px;
        height: 45;
    }

    .descricaococ0,
    .descricaococ1 {
        width: 200px;
        height: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
    }

    .titulococ {
        font-size: 35px;
    }

    .imglibary {
        width: 100%;
        height: 100px;
        border-radius: 3cap;
    }

    .iconpesquisar {
        margin-right: 60px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        text-align: center;
        height: 60px;
        width: 0px;
    }

    .pesquisarNome {
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .libary {
        transform: translate(-50px, 0px);
        height: 220px;
        width: 700px;
        margin-left: 85px;
        position: absolute;
    }

    .homemaranha {
        transform: translate();
        height: 325px;
        width: 700px;
        margin-left: 20px;
        transform: translate(20px, 250px);
    }

    .raio {
        height: 17px;
        width: 103px;
        margin-left: 50px;
    }

    .raio img {
        height: 12px;
        width: 12px;
    }

    .raio p {
        font-size: 11px;
    }

    .titulo {
        font-size: 30px;
        margin-top: 0px;
    }

    .subtitulo {
        font-size: 14px;
        margin-top: 10px;
    }

    .book {
        height: 36px;
        width: 105px;
        margin-left: 60px;
    }

    .book p {
        font-size: 10px;
    }

    .setas {
        height: 31px;
        width: 31px;
        margin-top: 15px;
    }

    .carregando {
        margin-left: 120px;
        align-items: start;
        justify-content: start;

    }

    .carregando img {
        height: 42px;
        width: 42px;
    }

    .carregando p {
        font-size: 24px;
    }

    .apex,
    .streetfighter {
        margin-left: 40px;
        height: 200px;
        width: 310px;
    }

    .apex p,
    .streetfighter p {
        font-size: 30px;
        margin-top: 70px;
    }
}