:root {
    --primary-color: #3A0B2D;
    --secundary-color: #4A243B;
}

body {
    background-color: var(--primary-color);
    height: 100%;
    padding: 30px;
    font-family: none;
    display: flex;
}


.pesquisar {
    background-color: #432544;
    height: 116px;
    width: 1521px;
    border-radius: 3cap;
    padding: 20px;
    padding-left: 80px;
}

.barra {
    background-color: #5B3954;
    height: 74.53px;
    width: 841.47px;
    border-radius: 3cap;
    text-align: center;
}

.pesquisarNome {
    font-size: 30px;
    color: #FFFFFF48;
}

.esquerda {
    background-color: #4A243B;
    height: 1014px;
    width: 300px;
    border-radius: 3cap;
    margin-right: 40px;
    flex-direction: column;
}

.meio {
    height: 780px;
    width: 1550px;
    display: flex;
}

.homemaranha {
    margin-top: 150px;
    position: absolute;
    display: flex;
}

.homemaranhaimg {
    align-items: center;
    border-radius: 3cap;
    height: 600px;
    width: 900px;
}

.imagens{
    display: flex;
    position: absolute;
}

p {
    position: absolute;
    font-size: 10px;
    color: white;
}

.libary {
    background-color: #432544;
    height: 550px;
    width: 550px;
    margin: 10px;
    border-radius: 3cap;
}

